body {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    color: rgb(116, 110, 103);
    background-color: rgb(201, 201, 186);
    font-style: italic;
    size: 50px;
    text-align: center;
}

h2 {
    color: rgb(120, 155, 120);
    background-color: rgb(201, 201, 186);
    font-style: oblique;
}

h3 {
    color: rgb(120, 155, 120);
    background-color: rgb(201, 201, 186);
    font-style: italic;
}

ol {
    list-style-type: upper-roman;
    margin-left: auto;

}

ul {
    list-style-type: square;

}

li::marker {
    font-weight: bolder;
}

.fotico {
    text-align: center;
}

.importante {
    font-weight: bold;
}

#textos {
    font-family: cursive;
    font-size: 13px;
    font-weight: lighter;
}


/*Estilos para el formulario*/

#form {
    border: 1px solid #cc8888;
    width: 480px;
    margin: left;
}

#form input[type=text] {
    border: 1px solid #CCCCCC;
}

#form textarea[type=text] {
    border: 1px solid #CCCCCC;
}

#form input.boton {
    padding: 3px;
    color: #FFFFFF;
    background-color: #990000;
    border: 1px solid #000000;
}

#form label {
    width: 130px;
    float: left;
    text-align: left;
}